body{
	background-color: lightblue;
}

h1{
	text-align: center;
	font-family: Weibei SC, sans-serif;

}

section {
	font-family: Weibei SC, sans-serif;
	padding-left: 40%;
	padding-top: 7%;
}

#button{
	margin-left: 7%;
}

#story{
	width: 75%;
}